.weight {
	font-size: 2rem;
	font-style: italic;
	font-weight: 800;
	margin-right: 1rem;
	letter-spacing: -1px;
}

.kg {
	font-size: 1rem;
	font-style: italic;
	font-weight: 800;
	align-self: baseline;
}

.x {
	font-size: 1.25rem;
	font-weight: 800;
}

.excersise {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 0.5rem;
}

.listContainer {
	margin-bottom: 2rem;
	/* padding-bottom: 1rem; */
	/* border-bottom: 3px dashed rgb(181, 181, 181); */
}

.container {
	/* display: grid;
	grid-template-columns: 1fr 50px;
	column-gap: 1rem; */
}

.container:first-child {
	margin-bottom: 1rem;
}

/* Temporary */
.container:first-child span:first-child {
	margin-left: 0.75rem;
}

.container:first-child span:last-child {
	margin-left: 0.75rem;
}

.innerContainer {
	display: flex;
	gap: 0.25rem;
	align-items: baseline;
}

.sidebar {
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 2px solid white;
}

.amountSets {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.setsNumber {
	font-size: 1.5rem;
	font-weight: 800;
}

.smallText {
	font-size: 0.75rem;
}

.semiBigText {
	font-size: 1.5rem;
	font-weight: 800;
}

.secondaryText {
	color: #b3b3b3;
	font-weight: 600;
	font-size: 0.75rem;
}

.done {
	color: red;
}
