.weightIndicator {
	display: flex;
	align-items: center;
	gap: 0.5px;
}

.plate {
	width: 4px;
	height: 45px;
}

.red {
	background-color: red;
}

.blue {
	background-color: #006dd2;
}

.yellow {
	background-color: yellow;
	height: 39px;
}

.green {
	background-color: green;
	height: 33px;
}

.white {
	background-color: white;
	height: 24px;
}

.black {
	background-color: black;
	height: 19px;
}

.gray {
	background-color: #7e7e7e;
	height: 13px;
}

.silver {
	background-color: silver;
	height: 10px;
}
