.weightIndicator {
	display: flex;
	align-items: center;
	gap: 1px;
	position: relative;
}

.plate {
	width: 4px;
	height: calc(45px * var(--heightMultiplier));
}

.flatPlate {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.red {
	background-color: #d20000;
}

.blue {
	background-color: #006dd2;
}

.yellow {
	background-color: #d2bd00;
	height: calc(39px * var(--heightMultiplier));
}

.green {
	background-color: #0f762c;
	height: calc(33px * var(--heightMultiplier));
}

.white {
	background-color: white;
	color: black;
	height: calc(24px * var(--heightMultiplier));
}

.black {
	background-color: black;
	height: calc(19px * var(--heightMultiplier));
}

.gray {
	background-color: #7e7e7e;
	height: calc(13px * var(--heightMultiplier));
}

.silver {
	background-color: silver;
	height: calc(10px * var(--heightMultiplier));
}
