html,
body {
	padding: 0;
	margin: 0;
	/* letter-spacing: -0.5px; */
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;

	/* background: radial-gradient(#f9e6ea, #eafefe); */
	height: 100vh;
	--base-text-color: black;
	--secondary-text-color: #7a7a7a;
	color: var(--base-text-color);
	background-color: #101014;
}

* {
	box-sizing: border-box;
}

main {
	/* padding: 5rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */

	color: #fff;
	/* padding: 2rem 1rem; */
}

footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer img {
	margin-left: 0.5rem;
}

footer a {
	display: flex;
	justify-content: center;
	align-items: center;
}

a {
	color: inherit;
	text-decoration: none;
}

code {
	background: #fafafa;
	border-radius: 5px;
	padding: 0.75rem;
	font-size: 1.1rem;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
		DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}
