.emptyRPEContainer {
	--borderColor: #b8b8b8;

	border: 1px dashed var(--borderColor);
}

.container {
	display: flex;
	align-items: center;
	gap: 0.5rem;

	span:first-child {
		font-size: 1rem;
		font-weight: 800;
	}
}

.RPEContainer {
	width: 32px;
	height: 32px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 700;
}

@mixin rpeColors($color) {
	background-color: rgba($color, 0.3);
	border: 1px solid $color;
	color: $color;
}

.blue {
	@include rpeColors(#26cbff);
}

.greenBlue {
	@include rpeColors(#26ffcb);
}
.green {
	@include rpeColors(#5eff26);
}
.yellowGreen {
	@include rpeColors(#c7ff26);
}
.yellow {
	@include rpeColors(#ffe926);
}
.orangeYellow {
	@include rpeColors(#ffc226);
}
.orange {
	@include rpeColors(#ffa826);
}
.redOrange {
	@include rpeColors(#ff4d26);
}
.red {
	@include rpeColors(#ac0606);
}
.purple {
	@include rpeColors(#ad26ff);
}
